@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap')

/* Header Structure */

.bg-gradient-primary {
    background-color: #574b90;
    background-image: linear-gradient(0deg, #574b90 0%, #433a6e 100%);
}

.home__row {
    position: relative;
    padding: 55px 60px;
}

.home__row--map {
    background-color: #2F245F;
    background-image: linear-gradient(0deg, #433a6e 0%, #2F245F 100%);
    text-align: center;
}

.home__row--below-map {
    padding-bottom: 120px;
}

.home__row--services {

}

.home__row--above-team {
    padding-bottom: 160px;
}

.home__row--team {
    padding: 0 0 40px;
}

.home__row--contact {
    padding: 60px;
}


/* Map from header */
.map-row {
    position: relative;
    width: 100%;

}

.map-col {
    display: inline-block;
    width: 50%;
    position: relative;
    vertical-align: middle;
}

.map-col--title {
    width: 35%;
}

.map-col--map {

}

.map-title {
    font-family: 'Nunito Sans';
    color: white;
    font-size: 36px;
    line-height: 48px;
    box-sizing: border-box;
    text-align: right;
    padding-right: 40px;
}

.map-title span {
    color: #F64467;
    font-weight: bolder;
}

.map-container {
    width: 100%;
    padding: 33% 0;
    overflow: hidden;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.map-svg path {
    fill: white;
    fill-opacity: .4;
    stroke:white;
    stroke-opacity: 1;
    stroke-width: 1;
    transition: .6s fill;
}

.map-marker {
    position: absolute;
    user-select: none;
}

.map-marker__controller {
    display: none;
}

.map-marker__button {
    background-color: white;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 0.4s;
    z-index: 2;
}

.map-marker__button .fa-times { 
    display: none; 
}

.map-marker__button .pulse:after {
    box-shadow: 0 0 1px 2px white;
}

.map-marker__controller:checked {
    width: 24px;
    height: 24px;
    background-color: #ffa32b;
    border: 2px solid white;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.map-marker__controller:checked .fa-times {
    display: inline-block; 
}

.map-marker__controller__button {
    width: 24px;
    height: 24px;
    background-color: #ffa32b;
    border: 2px solid white;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.map-marker__controller__button .fa-times {
    display: inline-block;
}

.map-marker__item {
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease-in-out;
}

.map-marker__item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.map-marker__item .controller:checked {
    visibility: visible;
    opacity: 1;
    width: 50px;
    height: 50px;
}

.map-marker__item .item {
    visibility: visible;
    opacity: 1;
    width: 50px;
    height: 50px;
}

.map-marker__item .controller:checked {
    transform: translate(-50%,-150%);
}

.map-marker__item .item:nth-of-type(1) {
    transform: translate(-50%,-150%);
}

.map-marker__item .controller:checked {
    transform: translate(50%,-50%);
}

.map-marker__item .item:nth-of-type(2) {
    transform: translate(50%,-50%);
}

.map-marker__item .controller:checked {
    transform: translate(-50%,50%);
}

.map-marker__item .item:nth-of-type(3) {
    transform: translate(-50%,50%);
}

.map-marker__item .controller:checked {
    transform: translate(-150%,-50%);
}

.map-marker__item .item:nth-of-type(4) {
    transform: translate(-150%,-50%);
}

.map-marker__item .controller:checked {
    display: none;
}

.map-marker__item .pulse:after {
    display: none;
}

.map-pulse:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    animation: map-pulse 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    box-shadow: 0 0 1px 2px white;
    animation-delay: 1.1s;
}

@keyframes map-pulse {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

/* Services Icons */
.services {
    background-image: url(./images/pattern.jpg);
    background-size: 140%;
    background-position: center;
    width: 100%;
    height: 280px;
    /* display: flex; */
    /* align-items: center; */
}

.services-icons {
    display: flex;
    text-align: center;
    justify-content: space-around;
    /* align-items: center; */
    /* align-self: center; */
}

.service-box {
    display: block;
    margin-top: 50px;
}

.service-box p {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 13px;
    letter-spacing: 6px;
    font-weight: bold;
    margin-bottom: 0;
    color: #30233D;
}

.service-icon {
    font-size: 102px;
    color: #F64467;
}

.what-we-do {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 0;
    color: #F64467;
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.what-we-do:hover {
    color: #30233D;
    cursor: pointer;
}

.arrows-1 {
    font-size: 24px;
    color: #F64467;
    /* -moz-animation: bounce1 2s infinite;
    -webkit-animation: bounce1 2s infinite;
    animation: bounce1 2s infinite;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important; */
    outline: none !important;
    box-shadow: none !important;
    transition: all .3s ease-in-out;
}

.arrows-1.active {
    transition: all .3s ease-in-out;
    transform: rotate(-90deg);
}

.arrows-2 {
    font-size: 24px;
    color: #F64467;
    /* -moz-animation: bounce2 2s infinite;
    -webkit-animation: bounce2 2s infinite;
    animation: bounce2 2s infinite;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important; */
    outline: none !important;
    box-shadow: none !important;
    transition: all .3s ease-in-out;
}

.arrows-2.active {
    transition: all .3s ease-in-out;
    transform: rotate(90deg);
}

.arrows-1:hover {
    color: #30233D;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    outline: none !important;
    cursor: pointer;
    box-shadow: none !important;
}

.arrows-2:hover {
    color: #30233D;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    outline: none !important;
    cursor: pointer;
    box-shadow: none !important;
}

@keyframes bounce1 {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-10px);
    }
    60% {
      transform: translateX(-5px);
    }
}

@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(10px);
    }
    60% {
      transform: translateX(5px);
    }
}

/* Our Services Box */

.services-more {
    background-color: #110C2A;
    padding: 25px;
    /* max-height: 0; */
    /* overflow: hidden; */
    /* display: none; */
}

.services-more.invisible {
    /* max-height: 1200px; */
    display: none;
}

.services-more h2 {
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    /* font-weight: bold; */
    font-size: 45px;
    text-align: center;
}

.services-more h3 {
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 18px 32%;
}

.services-category {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
}

.services-categories {
    flex: 0 0 33.33333%;
    display: block;
    text-align: center;
    /* margin: 15px; */
}

.services-categories h3 {
    text-align: center;
    color: #29F0B5;
    font-family: 'M PLUS 1p', sans-serif;
}

.services-categories p {
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    color: white;
    font-weight: lighter;
    margin: 16px 70px 70px;
    line-height: 180%;
}

.services-avatar {
    margin: auto;
    /* text-align: center; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #2C1F42;
    background-color: #150D2D;
    font-size: 32px;
    color: #29F0B5;
    line-height: 64px;
}

.services-avatar i {
    margin: auto;
}

.send-message {
    font-family: 'M PLUS 1p', sans-serif;
    background-color: #F64467;
    color: white;
    border-radius: 30px;
    padding: 20px 50px;
    border: none;
    font-size: 14px;
    letter-spacing: 2px;
}

.button-div {
    display: flex;
    margin: auto;
    justify-content: center;
}

/* Members Div */

.members-div {
    background-image: url(./images/pattern-purple.jpg);
    background-size: 140%;
    background-position: center;
    padding: 25px;
}

.members {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
}

.member {
    flex: 0 0 25%;
    display: block;
    text-align: center;
}

.member h3 {
    font-size: 21px;
    font-family: 'M PLUS 1p', sans-serif;
    color: white;
    font-weight: bold;
}

.member p {
    font-size: 13px;
    font-family: 'M PLUS 1p', sans-serif;
    color: #89809B;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 0;
}

.member-avatar img {
    width: 262px;
    height: 262px;
    border-radius: 50%;
    margin-top: 80px;
}